ad3==2.2.1
certifi==2019.11.28
chardet==3.0.4
cupy==6.0.0
fastrlock==0.4
future==0.18.2
GDAL==3.0.4
h5py==2.10.0
idna==2.9
joblib==0.14.1
jsonpatch==1.25
jsonpointer==2.0
numpy==1.18.1
packaging==20.1
PDAL==2.2.1
Pillow==7.0.0
plyfile==0.7.1
pynvrtc==9.2
pyparsing==2.4.6
pyqpbo==0.1.2
pystruct==0.3.2
python-igraph==0.8.0
pyzmq==19.0.0
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
texttable==1.6.2
torch==1.4.0
torchfile==0.1.0
torchnet==0.0.5.1
tornado==6.0.4
tqdm==4.43.0
transforms3d==0.3.1
urllib3==1.25.8
visdom==0.1.8.9
websocket-client==0.57.0
